* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: hsla(0, 0%, 10%, 1);
  --primary-color-700: hsla(0, 0%, 7%, 1);
  --primary-color-500: hsla(0, 0%, 15%, 1);
  --primary-color-100: hsla(0, 0%, 40%, 1);
  
  --light-color-100: hsla(0, 0%, 100%, 1);
  --light-color-300: hsla(0, 0%, 70%, 1);

  --bg-color: var(--primary-color);
  --navbar-color: var(--primary-color-700);
  --text-color: var(--light-color-100);

  --edit-btn-300: hsla(120, 71%, 25%, 1);
  --edit-btn-100: hsla(120, 68%, 33%, 1);
  --delete-btn-300: hsla(0, 52%, 40%, 1);
  --delete-btn-100: hsla(0, 62%, 50%, 1);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
