.container {
    width: 60%;
    height: 100%;
    overflow: hidden;    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--primary-color-500);
    box-shadow: 0 0 1rem var(--light-color-300);
    padding: 1rem;
}

.header {
    width: 100%;
    height: 10%;
    text-align: center;
}

.content {
    width: 100%;
    height: 90%;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
}

.modify-form {
    width: 100%;
    height: 14%;
    font-size: 1.5rem;
}

.modify-form input,
.modify-form button {
    font-size: 1.5rem;
    padding: .2rem;
}

.display-todos {
    width: 100%;
    height: 86%;
    overflow: auto;
}

.todo {
    cursor: pointer;
    padding: .3rem;
}

.todo:hover {
    background-color: var(--light-color-300);
    opacity: .8;
}

.todo-title {
    font-size: 1.5rem;
}

.completed {
    text-decoration: line-through;
}