.container {
    padding: 2rem;
}

.container__main table {
    border-collapse: collapse;
    font-size: 2rem;
}

.container__main table th,
.container__main table td {
    border: 2px solid black;
    padding: 5px;
}