.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: hsl(195, 32%, 51%);
}

.content {
    width: 70%;
    height: 93%;
    background-color: hsl(195, 80%, 90%);
    display: flex;
    justify-content: center;
}